@model Projet5ApplicationDotNet.Models.VoitureViewModel

@{
    ViewData["Title"] = "Détails";
}

<div class="mt-5">
    <a asp-action="Index" class="color-796157 text-decoration-underline ft-DM"><-- Retour à la liste</a>
    <div class="row align-items-center mt-5">
        <div class="col-md-6">
            <img class="w-100" src="~/uploads/@Html.DisplayFor(model => model.PhotoS)" />
        </div>
        <div class="col-md-6">
            <div class="mb-5">
                <p class="color-2C1810">Vous avez publié cette annonce, vous pouvez le :</p>
                <a asp-action="Edit" asp-route-id="@Model?.IdVoiture" class="color-929292 me-4">modifier</a> <a asp-action="Delete" asp-route-id="@Model?.IdVoiture" class="text-danger">supprimer</a>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <h3 class="color-2C1810 mb-4">@Html.DisplayFor(model => model.PrixVente) €</h3>
                <p class="color-796157 ft-DM">@Html.DisplayFor(model => model.Annee)</p>
                <p class="color-796157 ft-DM">@Html.DisplayFor(model => model.Marque)</p>
                <p class="color-796157 ft-DM">@Html.DisplayFor(model => model.Modele)</p>
                <p class="color-796157 ft-DM">@Html.DisplayFor(model => model.Finition)</p>
            </div>
           @*  <div class="d-flex mb-4">
                <label class="fw-bold">@Html.DisplayNameFor(model => model.Marque) : </label>
                @Html.DisplayFor(model => model.Marque)
            </div>
            <div class="d-flex mb-4">
                <label class="fw-bold">@Html.DisplayNameFor(model => model.Modele) : </label>
                @Html.DisplayFor(model => model.Modele)
            </div>
            <div class="d-flex mb-4">
                <label class="fw-bold">@Html.DisplayNameFor(model => model.Annee) : </label>
                @Html.DisplayFor(model => model.Annee)
            </div>
            <div class="d-flex mb-4">
                <label class="fw-bold">@Html.DisplayNameFor(model => model.CodeVIN) : </label>
                @Html.DisplayFor(model => model.CodeVIN)
            </div>
            <div class="d-flex mb-4">
                <label class="fw-bold">
                    @Html.DisplayNameFor(model => model.Finition) : 
                </label>
                @Html.DisplayFor(model => model.Finition)
            </div>
            <div class="d-flex mb-4">
                <label class="fw-bold">
                    @Html.DisplayNameFor(model => model.DateAchat) : 
                </label>
                @Html.DisplayFor(model => model.DateAchat)
            </div>
            <div class="d-flex mb-4">
                <label class="fw-bold">
                    @Html.DisplayNameFor(model => model.PrixAchat) : 
                </label>
                @Html.DisplayFor(model => model.PrixAchat)
            </div>
            <div class="d-flex mb-4">
                <label class="fw-bold">
                    @Html.DisplayNameFor(model => model.Disponible) : 
                </label>
                @Html.DisplayFor(model => model.Disponible)
            </div>
            <div class="d-flex mb-4">
                <label class="fw-bold">
                    @Html.DisplayNameFor(model => model.DateVente) : 
                </label>
                @Html.DisplayFor(model => model.DateVente)
            </div>
            <div class="d-flex mb-4">
                <label class="fw-bold">
                    @Html.DisplayNameFor(model => model.PrixVente) : 
                </label>
                @Html.DisplayFor(model => model.PrixVente)
            </div>
            <div class="d-flex mb-4">
                <label class="fw-bold">
                    @Html.DisplayNameFor(model => model.Description) : 
                </label>
                @Html.DisplayFor(model => model.Description)
            </div> *@
        </div>
    </div>
</div>
