@model IEnumerable<Projet5ApplicationDotNet.Models.VoitureViewModel>

@{
    ViewData["Title"] = "Voitures";
}

<h1>Voitures</h1>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Finition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annee)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Finition)
                </td>
                <td>
                    <img src="~/uploads/@Html.DisplayFor(modelItem => item.PhotoS)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrixVente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modele)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Annee)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdVoiture">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.IdVoiture">Détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdVoiture">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
